.card-title_mbm {
    color: #000000;
    font-size: 20px;
    text-align: center;

}
.GFG {
    -webkit-columns: 40px 2;
    /* Chrome, Safari, Opera */
    -moz-columns: 60px 2;
    /* Firefox */
    columns: 60px 2;
}