.card-title_mbm {
    color: #111; 
    font-family: 'Helvetica Neue', 
    sans-serif;
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;

}
p.text_mbm{
    padding-bottom: 50px;

}
.edit_icon{
    width:20px;
    height:20px;
    float: right;
}
.column{
    height: 200px;
    width: 70%;
    margin:0 auto;
}
a.t_mbm{
    text-align: center;
    color: #4B4E6D; 

}
a.button1{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #111111;
    background: #F9FBB2;
    line-height: 1.15;
    font-size: 16px;


}
a.button2{
    


}

a { color: #ff6600; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; font-family: 'Muli', sans-serif; }


a:hover { text-decoration: underline }


h1 { padding-bottom: 15px }


h1 a { font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; color: #333; }


h1 a:hover { color: #ff6600; text-decoration: none; }


p { color: #333; font-family: 'Muli', sans-serif; margin-bottom: 15px; }


a.more-link { color: white; font-weight: bold; font-size: 14px; font-family: Arial, Helvetica, sans-serif; padding: 3px 10px; background-color: #ff6600; border-radius: 5px; float: right; }


a.more-link:hover { text-decoration: none; background-color: #666; border-radius: 0px; }




/* CSS */
a.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #BFCC94;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #000000;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

p.para_mbm{
    font-family: "roboto", sans-serif;
    font-size: 14px;
    margin-top: .5em; color: #000000;
    font-weight: bold;
    margin-bottom: 25px;
    
}
p.title_mbm{
    font-family: "roboto", sans-serif;
    margin-top: .5em; color: #000000;
    font-weight: bold;
    
}
